*{
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.portada{
    position: relative;
}

.container{
    width: 100%;
    height: 100vh;
    background: rosybrown;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    overflow: hidden;
}

.img1 {
    height: 100%;
    max-height: 100vh;
    width: auto;
    position: absolute;
    z-index: 1;
    animation: mujer 2s ease;
}

.img2 {
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
    z-index: 2;
}

@keyframes mujer {
    0% {
        transform: translateY(400px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}

/* main */

main {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: calc(100vh - 200px);
}

.main_text { 
    display: flex; 
    justify-content: center; 
    flex-direction: column;

    gap: 50px;
} 

.main_img { 
    display: flex; 
    justify-content: center; 
    flex-direction: column;

    gap: 100px;
}

.description {
    display: flex;
    align-items: center;
    gap: 25px;
}

.description > h1 {
    font-size: 4rem;
    color: white;
    margin: 0;
}

.description > img {
    background: rgb(16, 0, 94);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons > button {
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.368);
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 2px white;
}

.img_track {
    display: flex;
    align-items: center;
    padding-left: 100px;
    gap: 20px;
}

.img_track > p > span {
    color: white;
    font-weight: bold;
}

.img_track > img {
    width: 80px;
    border-radius: 10px;
}

.img_homogenic {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img_homogenic > p > span {
    color: white;
    font-weight: bold;
}

.img_homogenic > img {
    width: 80px;
    border-radius: 10px;
}

/* NAV */

header {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 10;
    padding: 20px 100px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 10rem;
}

.ul > h3 {
    color: white;
    font-size: 1.5rem;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 3rem;
}

.links > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
}

form > input {
    padding: 15px 25px;
    width: 200px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.368);
}

form > input:focus {
    outline: none;
    color: white;
}

form > button {
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* responsi movil_menu */

.movil {
    display: none;
    position: relative;
}

.menu_desplegable {
    display: flex;
    flex-direction: column;
    background: white;
    width: 200px;
    padding: 30px 20px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;


    gap: 30px;
}

.menu_desplegable > div, a {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    justify-content: space-between;
}

.none {
    display: none;
}

.menu_desplegable > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.line {
    width: 100%;
    background: blue;
}

.menu_desplegable > button {
    height: 5vh;
    font-weight: bold;
    background: rgb(250, 227, 227);
    border: 1px solid rosybrown;
    border-radius: 5px;
}

@media (max-width: 767px){
    header{
        padding: 10px 20px;
    }
    .movil {
        display: block;
    }
    .links {
        display: none;
    }
    form {
        display: none;
    }
    .main_img {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    header{
        padding: 20px 50px;
    }
    .movil{
        display: block;
    }
    .links {
        display: none;
    }
    .line, .menu_desplegable > button {
        display: none;
    }
}


